{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center flex-column ">
    <form class="col-md-8 form-signin" method="POST" action="/auth/login">
        {{ form.hidden_tag() }}

        <div class="row mb-3 col-sm-12 text-center justify-content-center">
            <hr class="col-sm-9"/>
            <h4>Please sign in:</h4>
            <hr class="col-sm-9"/>
        </div>

        <div class="row mb-3 col-sm-11">
            <div class="col-sm-2"></div>
            <label class="col-sm-3 col-form-label">Username:</label>
            <div class="col-sm-6">
                {{ form.username(placeholder='User Id', class="form-control", id="username") }}
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mb-3 col-sm-11">
            <div class="col-sm-2"></div>
            <label class="col-sm-3 col-form-label">Password:</label>
            <div class="col-sm-6">
                {{ form.password(placeholder='Password', class="form-control") }}
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row mb-4 justify-content-center ">
            <div class="col-sm-4 ">
                <div class="form-check">
                    {{ form.remember(class="checkbox") }}
                    <label class="form-check-label">
                        Remember Me
                    </label>
                </div>
            </div>
        </div>

        <div class="row mb-3 col-sm-12 justify-content-center">
            <button type="submit" class="btn btn-primary col-sm-9">Sign in</button>
        </div>

        <div class="row mb-3 col-sm-12 justify-content-center">
            <div class="alert alert-danger text-center col-sm-9" role="alert">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ol class=flashes>
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </ol>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </form>
</div> <!-- /container -->
{% endblock %}