{% extends "base.html" %}

{% block title %}
Products Data
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/tabs.css">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center flex-column col-md-12 ">
    <div class="row mb-3 col-md-12 text-center justify-content-center">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu1">Jenkins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu2">Kubernetes</a>
            </li>
            <li class="nav-item float-end">
                <div class="row mb-3 col-sm-12">
                    <div class="col-sm-2"></div>
                    <label class="col-sm-3 col-form-label">Search:</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="search" name="search" type="text" value="">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                    rem aperiam.</p>
            </div>
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}